/* Add your CSS to this file */
body {
    margin: 0;
    font-size: 16px;
}

.container {
    margin: 0 auto;
    max-width: 960px;
    width: 100%;
}

header h1{
    text-align: left;
}

header ul{
    display: flex;
    justify-content:end;
    list-style: none;
}